.nxa5wh {
  height: 116px;
  list-style-type: none;
  margin: 0;
  outline: none;
  transition: opacity 0.2s ease-in-out, border 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out,
    outline 0.2s ease-in-out;
  width: 132px;
}
